<%- include('head.ejs'); %>

<style>
    /* label {
        width: 100px; 
        display: inline-block;
    }

    input[type=text] {
        width: 500px;
    }

    .info {
        border:1px solid black;
        background-color: aquamarine;
        padding: 1em;
    }

    form {
        border:1px solid black;
        background-color: cornsilk;
        padding: 1em;
    } */
</style>

<form method="post" action="" class="container-sm p-3 bg-primary text-white">

    <label for="id" class="w-25">id:</label>
    <input type="text" name="id" id="id" value="<%=obs.id %>"  class="w-50" readonly>
    <br />
    <label for="condition" class="w-25">condition</label>
    <input type="text" name="condition" id="condition" value="<%= obs.condition %>"  class="w-50">
    <br />
    <label  class="w-25">action</label>

    <!-- <% if (action == 'update') { %>
        <input type="submit" value="update">
    <% } else { %>
        <input type="submit" value="create">
    <% } %> -->

    <input type="submit" value="<%= action %>"  class="w-50 btn btn-success">

</form>

<br>

<div class="container-sm bg-info text-white">
<% if (action == 'update') { %>
        Denne forudfyldte formular er starten på Read i C<em>R</em>UD, 
        når du trykker på update, udføres Read i CR<em>U</em>D
<% } else if (action == 'create') { %>
        Denne tomme formular er staten på Create i <em>C</em>RUD
<% } else if (action == 'delete') { %>
        Denne forudfyldte formular er staten på Delete i CRU<em>D</em>
<% } %>
</div>

<%- include('foot.ejs'); %>